body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: darkgray;
    
}

.contenedor {
    background-image: url("../img/imagen2.jpg");
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: rgb(128, 21, 21);
    font-family: cursive;
    margin: 20;
}

header{
    margin: 0px;
    padding: 30px;
    
    background-color: rgb(31, 30, 30);
    
}
h2{
    text-align: center;
}

.contenedor p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: center;
    color: rgb(104, 121, 73);
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}

.componentes p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
    color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}

h3{
    text-align: center;
   
}

footer{
    background: #196d6d;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}